.music-container {
  width: 100vw;
  height: calc(100vh - 4em);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.music-info {
  max-width: 40%;
  padding: 2rem;
}
.music-info h1 {
  font-size: 4rem;
  margin: 1rem 0;
}
.music-info h2 {
  font-size: 3rem;
  margin: 1rem 0;
}
.music-container .player {
  display: flex;
  align-items: center;
  justify-content: center;
}
.music-container .icon-button {
  background: none;
  border: none;
  cursor: pointer;
}
.music-container canvas {
  max-width: calc(100vw - 4em);
  max-height: 100vh;
  z-index: -1;
}
.music-container .player-container {
  background-color: var(--dark);
  padding: 1em;
}
.music-container .track-list p {
  margin: 0.25em 0;
  padding: 0 0.25rem;
  font-size: 0.75rem;
  cursor: pointer;
  color: var(--blueGray);
  transition: 0.3s;
}
.track-list p.selected {
  background-color: var(--greenDk);
  color: var(--veryDark);
}
.player-container .slider {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.player-container .slider svg,
.player-container .slider p {
  margin: 0 1rem;
  color: var(--greenDk);
}
.player-container .slider p.loadingMsg {
  margin: 0;
  height: 0.75rem;
  font-size: 0.75rem;
  color: var(--blueGray);
}
@media (max-width: 1440px) {
  .music-info h1 {
    font-size: 2.8rem;
  }
  .music-info h2 {
    font-size: 1.8rem;
  }
}
@media (max-width: 1024px) {
  .music-info {
    padding: 1rem;
    max-width: 50%;
  }
  .music-info h1 {
    font-size: 2.2rem;
  }
  .music-info h2 {
    font-size: 1.5rem;
  }
}
@media (max-width: 768px) {
  .music-info {
    width: 50%;
  }
  .music-info h1 {
    font-size: 1.75rem;
  }
}
@media (max-width: 640px) {
  .music-container {
    flex-direction: column;
  }
  .music-info {
    max-width: 100%;
  }
}
