.portfolio {
    padding: 1rem;
    display: flex;
}
.portfolio h2 {
    text-transform: uppercase;
    font-size: 2.5rem;
    margin: 0 0 1rem 0;
}
.portfolio h4 {
    font-size: 1.5rem;
    margin: 2rem 0;
    color: var(--blue);
}
.portfolio p {
    color: var(--blueGray);
}
.info a, .info a:visited {
    color: var(--greenDk);
    background: none;
    text-decoration: underline;
}
.info{
    padding-right: 2rem;
    width: 50%;
}
.info a:hover {
    color: var(--green);
}
.icon-link {
    margin: 2rem 2rem 2rem 0;
}
.video {
    display: flex;
    justify-content: center;
    width: 50%;
}
.portfolio iframe {
    width: 560px;
    height: 315px;
}

@media screen and (max-width: 768px) {
    .portfolio {
        margin-left: 0;
        flex-direction: column;
    }
    .portfolio iframe {
        max-width: 560px;
        max-height: 315px;
    }
    .info, .video {
        width: 100%;
        padding: 0;
    }
}