.nav {
    --transition: 250ms;
    color: var(--blueGray);
    background-color: var(--dark);
    height: 100vh;
    width: 4em;
    position: fixed;
    top: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: width var(--transition) ease;
    z-index: 100;
}
.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-item {
    width: 100%;
}
.nav-link {
    display: flex;
    align-items: center;
    height: 4em;
    box-sizing: border-box;
}
.active-page {
    border-right: 2px solid var(--green);
}
a, a:visited {
    color: var(--blueGray);
    text-decoration: none;
    transition: all var(--transition) ease;
    text-transform: uppercase;
}
.link-text {
    display: none;
    margin-left: 1em;
    opacity: 0;
    transition: opacity var(--transition) ease-in;
}
.nav-link svg {
    min-width: 2rem;
    margin: 0 1rem;
    font-size: 2em;
}
.center {
    display: flex;
    align-items: center;
}
a:hover {
    background-color: var(--veryDark);
    color: var(--green);
}
a:active {
    color: var(--white);
}
.nav:hover {
    width: 16rem;
}
.nav:hover .link-text {
    display: block;
    opacity: 1;
}

@media screen and (max-width: 768px) {
    .nav {
        width: 100vw;
        height: 4em;
        top: calc(100vh - 4em);
        bottom: 0;
    }
    .active-page {
        border-right: none;
        border-bottom: 2px solid var(--green);
    }
    .nav:hover {
        width: 100vw;
    }
    .navbar-nav {
        flex-direction: row;
        justify-content: space-around;
    }
    .nav-item {
        width: 4rem; 
    }
    .link-text, .nav:hover .link-text {
        display: none;
    }
}